{% load static %}

<div class="adminaside_container">
    <div class="admin_logo">
        <div class="image">
            <img src="{% static 'images/logo.png' %}" width="40px"  height="40px" alt="logo">
        </div>
        <a href="{% url 'home' %}" target="_blank">{{ school_name }}</a>
    </div>
    <div class="asidenav_link">
        <ul>
            {% if user.user_level == 'teacher' %}
                <li>
                    <a href="#">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'enroll' %}">
                        <i class="fas fa-user-plus"></i>
                        <span>Enrollment</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'attendance_list' %}">
                        <i class="fas fa-check-circle"></i>
                        <span>Attendance</span>
                    </a>
                </li>
 
                {% comment %} <li>
                    <a href="#">
                        <i class="fas fa-child"></i>
                        <span>Children</span>
                    </a>
                </li> {% endcomment %}

                {% comment %} <li>
                    <a href="#">
                        <i class="fas fa-file"></i>
                        <span>Reports</span>
                    </a>
                </li> {% endcomment %}

                <li>
                    <a href="#">
                        <i class="fas fa-comment-dots"></i>
                        <span>Schedules</span>
                    </a>
                </li> 

                <li>
                    <a href="{%  url 'incident' %}">
                        <i class="fas fa-clipboard-list"></i>
                        <span>Incident Reports</span>
                    </a>
                </li>

            {% elif user.user_level == 'parent' %}
                <li>
                    <a href="#">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'child_infor' %}">
                        <i class="fas fa-child"></i>
                        <span>Child Profile</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'child_attendance' %}">
                        <i class="fas fa-check-circle"></i>
                        <span>Attendance</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'child_finance' %}">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <span>Fee Structure</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'child_incident' %}">
                        <i class="fas fa-clipboard-list"></i>
                        <span>Incident Reports</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="admin_profile">
        <div class="image">
            <img src="{% static 'images/logo.png' %}" alt="name">
        </div>

        <div class="admin_username">
            <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
        </div>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout">Log out</button>
        </form>
    </div>
</div>