{% load static %}

<div class="adminaside_container">
    <div class="admin_logo">
        <div class="image">
            <img src="{% static 'images/logo.png' %}" width="40px"  height="40px" alt="logo">
        </div>
        <a href="{% url 'home' %}" target="_blank">{{ school_name }}</a>
    </div>
    <div class="asidenav_link">
        <ul>
            <li>
                <a href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-blog"></i>
                    <span>Blog</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-comment-dots"></i>
                    <span>Comments</span>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <i class="fas fa-project-diagram"></i>
                    <span>Projects</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-file-invoice"></i>
                    <span>Invoice</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="admin_profile">
        <div class="image">
            <img src="#" alt="name">
        </div>

        <div class="admin_username">
            <a href="#"></a>
        </div>

        <form action="#" method="post">
            <button type="submit" class="logout">Log out</button>
        </form>
    </div>
</div>