{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block title %} Enrollment {% endblock  %}

{% block content %}
    
    <div class="user_container">
        <div class="title">
            <h1>Enrollment</h1>
            <a href="#">Add New</a>
        </div>
        
        <div class="user_content">
            <div class="user_details">
                <span  class="user-col">Names</span>
                <span class="user-col email">Email </span>
                <span class="user-col">Username</span>
                <span class="user-col">Phone No.</span>
                <span class="user-col">Gender</span>
                <span class="user-col">Emp code</span>
                <span class="user-col">Emp Date</span>
                <span class="user-col">Action</span>
            </div>
            
            {% comment %} @if (empty($teachers))
                <p>No User Found at the moment</p> 
            @else
                @foreach ($teachers as $teacher) {% endcomment %}
                    <div class="user_infor">
                        <span class="user-col">#</span>
                        <span class="user-col email">#</span>
                        <span class="user-col">#</span>
                        <span class="user-col">#</span>
                        <span class="user-col">#</span>
                        <span class="user-col">#</span>
                        <span class="user-col">#</span>
                        <span class="action">
                            <a href="#">
                                <i class="fas fa-pencil-alt"></i>
                            </a>

                            <form action="#" method="post">
                                <a href="#">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </form>
                        </span>
                    </div>
                {% comment %} @endforeach
            @endif      {% endcomment %}
        </div>
    </div>
{% endblock  %}