{% extends "base.html" %}
{% load static %}

{% block title %} Contact Us {% endblock  %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        <script>
            setTimeout(function() {
                const messages = document.querySelector('.messages');
                if (messages) {
                    messages.style.transition = 'opacity 0.5s ease';
                    messages.style.opacity = '0'; 
                    setTimeout(() => messages.remove(), 500); 
                }
            }, 5000);
        </script>
    {% endif %}
    <div class="main_container">
        <h2>Contact Us</h2>
        <div class="contact_container">
            <div class="contact_infor">
                <p><a href="mailto:twinkledaycare@gmail.com" target="_blank">twinkledaycare@gmail.com</a></p>
                <p><a href="tel:+254799509242"> +254 799 509 242</a></p>
            </div>

            <div class="contact_form">
                <form  method="post">
                    {% csrf_token %}
                    <div class="input_group">
                        <div class="input_content">
                            <label for="name">Names</label>
                            <input type="text" name="name" id="name" placeholder="Enter your Names" required>
                        </div>

                        <div class="input_content">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email"  placeholder="Enter your Email" required>
                        </div>
                        <div class="input_content">
                            <label for="first_name">Message</label>
                            <textarea name="message" id="message" cols="7" rows="6" placeholder="Type your Message" required></textarea>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}