{% load static %}
<div class="navbar_container">
    <div class="nav_logo">
        <div class="image">
            <img src="{% static 'images/logo.png' %}"  width="35px" height="35px" alt="Logo">
        </div>
        <a href="{% url 'home' %}">{{ school_name }}</a>
    </div>

    <div class="nav_links">
        <ul>
            <li><a href="{% url 'about_page' %}">About Us</a></li>
            <li><a href="{% url 'service_page' %}">Our Services</a></li>
            <li><a href="{% url 'contact_page' %}">Contact</a></li>

            {% if user.is_authenticated %}
                <li><a href="#">Profile</a></li>
                {% with dashboard_url=user.user_level|stringformat:"s"|add:"_dashboard" %}
                    <li><a href="{% url dashboard_url %}">{{ user.user_level }}</a></li>
                {% endwith %} 

                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class='logout'>Logout</button>
                </form>
            {% else %}
                <li class='login'><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="burger" id="burgerIcon">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
