*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma,sans-serif;
}

body{
    background: $primary-color;
}

.main_container{
    padding: 1.2em 2em;
    margin: 0 0 3em;
}

.messages {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    li {
        padding:10px;
        margin-bottom: 5px;
        border-radius:4px;
        border: 1px solid;
        font-size: 14px;

        &.success {
            background-color: $success-color;
            color: $primary-color;
        }

        &.error {
            background-color: $danger-color;
            color: $danger-color;
        }

        &.warning {
            background-color: $warning-color;
            color: $warning-color;
        }
    }
}

.text_danger{
    color: $danger-color;
}

.text_success{
    color: $success-color;
}

.text_warning{
    color: $warning-color;
}

.default {
    color: gray;
}

.btn_danger{
    background: $danger-color;
    color: $primary-color;
    font-size: 1.1em;
}

.child_infor{
    @include grid(2);
    padding:1.2em 0;

    p{
        font-size: 1.1em;
        padding: 0.4em 0;

        span{
            padding: 0 0.5em;
            font-weight: 550;
        }
    }

}

.login_container{
    @include flex_center;
    color: blue;
}