//main color codes
$primary-color: #F8F4F9;
$secondary-color:#000000;
$accent-color:#d2691e;


//advance colors
$table-color:#464646;


//messages colors
$danger-color:#ff0000;
$success-color:#008000;
$warning-color:#c28005;
