.navbar_container{
    @include flex_center;
    justify-content: space-between;
    padding: 0 0.9em;
    box-shadow: 2px 2px 3px $secondary-color;
    backdrop-filter: blur(4px);
    height: 10vh;
    position: sticky;
    left: 0;
    top:0;
    z-index: 100;


    .nav_logo{
        @include flex_center;
        gap: 0.5em;

        .image{
            img{
                border-radius: 50%;
            }
        }

        a{
            @include anchor;
            font-weight: bold;
            font-size: 1.3em;
            color: $secondary-color;

            &.active{
                color: $accent-color;
            } 
        }
    }

    .nav_links{
        ul{
            @include flex_center;
            flex-direction: row;
            padding: 0 0.3em;
            list-style: none;
            
            li{
                padding: 0 0.6em;

                a{
                    @include anchor;
                    font-weight: 550;
                    color: $secondary-color;
                }
                
                &.active{
                    a{
                        color: $accent-color;
                    }
                }

                
            }

            .logout{
                padding: 0.3em 0.9em;
                background: $danger-color;
                margin: unset;
                border-radius: 4px;
                border: none;

                a{
                    color:$primary-color;
                    font-size: 1.1em;
                }
            }
            
             
            // .profiles{
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     gap: 1em;

            //     .profile{
            //         a{
            //             @include anchor;
            //         }

            //         img{
            //             width: 30px;
            //             height: 30px;
            //             border-radius: 50%;
            //             border: 1px solid $secondary-color;
            //         }
            //     }
            // }

            .login{
                background: $secondary-color;
                padding:0.3em  1.2em;
                border-radius: 12px;
                border: none;  
                
                a{
                    color: $primary-color;
                }
            }
        }
    }

    .burger{
        display: none;
        cursor: pointer;

        span{
            height: 3px;
            width: 30px;
            display: block;
            margin: 0.5em 0;
            background-color: $secondary-color;
            color: $secondary-color;
        }
    }
}



@media screen and (max-width: 726px ) {
    .navbar_container{
        .nav_links{
            display: none;
            ul{
                display: none;
                width: 50%;
                height: 60vh;
                background:$secondary-color;
                position: absolute;
                flex-direction: column;
                align-items: flex-end;
                padding: 0.5em 1em;
                gap: 1.5em 0;
                top: 11vh;
                right: 0.1em;

                li {
                    width: 80%;
                    margin: auto;
                }
                .profiles{
                    @include flex_center;
                    flex-direction: column;
                }
            }
        }

        .show{
            display: block !important;

            ul{
                display: flex;
            }
        }

        .burger{
            display: block;
        }

        .active_burger{
            span {
                transition: transform 0.3s ease, opacity 0.3s ease;
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-7px, 8px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(-7px, -8px);
                }
            }
        }  
    }
}